### IGNORE FILES FROM GIT ###

### MAC OSX FILES ###
*._*
*.DS_STORE

### MOCKUPS ETC. ###
*.psd
*.ai
*.indd

### PROJECT DIRECTORIES AND FILES ###
*.log
.env
/assets
/node_modules
/src/node/.env
/src/node/node_modules
/src/web/.env
/src/web/node_modules